<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="  
	        http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
            http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:component-scan base-package="com.neusoft"></context:component-scan>


	<mybatis:scan base-package="com.neusoft.bookstore.mapper" />
	
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="jdbc:oracle:thin:@10.1.53.89:1521:oracle"></property>
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="user" value="cf">
		</property>
		<property name="password" value="1234">
		</property>
	</bean>

	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="typeAliasesPackage" value="com.neusoft.bookstore.model">
		</property>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="mapperLocations"
			value="classpath:com/neusoft/bookstore/mapper/xml/*.xml"></property>
	</bean>

	<bean id="session" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sessionFactory"></constructor-arg>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
		</bean>

			<tx:annotation-driven transaction-manager="transactionManager" />
</beans>