.detailContent{
    overflow: hidden;
}
.sortMenu{
    width: 917px;
    overflow: hidden;
    float: left;
    margin-left: 0;
}
.listTitle {
    border-bottom: 1px solid #CBCBCB;
    height: 30px;
    margin-top: 29px;
}
.listTitle span{
    display: block;
    float: left;
    padding: 0 5px;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    border-bottom: 2px solid #4A685E;
}
.sortList{
    width: 212px;
    float: left;
    margin-right: 30px;
    margin-top: 33px;
    overflow: hidden;
}
.sortList ul{
    overflow: hidden;
    background-color: #f2f2f2;
}
.sortList ul li{
    font-size: 14px;
    float: left;
    width: 194px;
    height: 38px;
    line-height: 38px;
    padding-left: 16px;
    border: 1px solid #D6D6D6;
    border-bottom: none;
    cursor: pointer;
}
.sortList ul li a{
	display:block;
    color: #5d5d5d;
    width: 194px;
    height: 38px;
}
.sortList ul li.active a{
    color: #055f39;
    font-weight: bold;
}
.sortList ul li:last-child{
    border-bottom: 1px solid #D6D6D6;
}
.sortList-b{
    width: 210px;
    height: 78px;
    border: 1px solid #D6D6D6;
    overflow: hidden;
    margin-top: 37px;
}

.pageNumSort{
    margin: 0 auto;
}