@charset "utf-8";
*{margin: 0px;padding: 0px;font-size: 13px;font-family: "microsoft yahei";}
a{font-size: 13px;color: #333333;text-decoration: none;}
a:hover{color:#ff6600;}
img{border: none;}
ul , dl , ol{list-style: none;}
input , select, textarea{outline: none;}
input , textarea{padding-left: 2px;}

.fl{float:left;}
.fr{float:right;}
.clear{clear: both;}
.error_msg{color: red;font-size: 12px;text-align: center;}
.space5px{clear: both;height: 5px;}
.space10px{clear: both;height: 10px;}
.space20px{clear: both;height: 20px;}
.space30px{clear: both;height: 30px;}
.space40px{clear: both;height: 40px;}
.space50px{clear: both;height: 50px;}



.main{text-align: center;margin: 10px auto;}
.main_inner{width: 1200px;margin: 0px auto;text-align: left;}
	.mi_left{width: 200px;float: left;}
	.mi_right{width: 1000px;float: right;}
	.mir_inner{width: 990px;margin-left: 10px;}
	.mir_inner h2.miri_h2{height: 30px;line-height: 30px;border-bottom: 1px solid lightgray;background: #D3D3D3;text-indent: 2em;text-align: center;}
	
		.miri_form{}
		.miri_form form{}
		.miri_form form table tr th{width: 160px;}
		.miri_form form input{width: 200px;margin: 15px auto;outline: none;}
	
	
.miri_form{width: 990px;overflow:auto;}
.miri_form table tr th{height: 30px;line-height: 30px;text-align: center;}
.miri_form table tr td{text-align: center;}
.miri_form table tbody tr td img{width: 30px;height: 30px;}
	.mirif_title , .mirif_desc{width:150px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	.mirif_operate{display: inline-block;border:1px solid #FF0000;padding: 2px 3px;color: #FF0000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;}
	.mirif_operate:hover{background: #FF0000;color: #ffffff;}
	
	
	
		.mir_page{text-align: center;}
		.mir_page a.mirp_btn{display: inline-block;border:1px solid #FF0000;padding: 2px 3px;color: #FF0000;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}
		.mir_page a.mirp_btn:hover{background: #FF0000;color: #ffffff;}
		.mir_page span select.toPage{outline: none;}
	
	
	
	
	
	
	
	
	
	
.header{text-align: center;border-top: 3px solid #FF0000;}
.header_inner{width: 1200px;margin: 0px auto;text-align:left;}
	.hi_left{width:300px;height: 80px;float: left;}
	.hi_left .hil_logo{display: inline-block;width: 200px;height: 80px;background: url(../img/shopping_logo.png);text-indent: -9999px;}
	.hi_center{width: 600px;height: 80px;float: left;}
	.hi_center h1{height: 80px;line-height: 80px;font-size: 30px;font-weight: 900;}
	.hi_right{width: 300px;height: 80px;line-height: 80px;float: left;text-align: right;}
	.hi_right a{color: #FF0000;}


.left{border: 1px solid #D3D3D3;min-height: 580px;}
.left_inner{}
.li_menu{}
.li_menu li{}
.li_menu li h2{height: 30px;line-height: 30px;background:#D3D3D3;text-align: center;font-size: 16px;font-weight: 900;border-bottom: 1px solid lightgray;}
.li_menu li a{display:block;height: 30px;line-height: 30px;margin: 10px;text-align: center;font-size: 14px;font-weight: 900;}
.li_menu li a:hover{background: #F2f2f2;color: #FF0000;}


.footer{text-align: center;margin-top: 30px;}
.footer_inner{width: 1200px;margin: 0px auto;padding: 20px 0px;border-top: 2px solid #FF0000;}
